/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
	theme: light,
	accent: hsl(0, 0%, 46%),
	menu-width: 14rem
);

// Import Toolkit
@import '../../toolkit/styles/scss/_color';
@import '../../toolkit/styles/scss/_spacing';
@import '../../toolkit/styles/scss/_fonts';
@import '../../toolkit/styles/scss/_icons';
@import '../../toolkit/styles/scss/_typography';

// Import Fabricator partials
@import 'partials/variables';
@import 'partials/code';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';
@import 'partials/token-display';

h1,
h2,
h3,
h4 {text-transform: capitalize;}

article {
	margin-top: calc(#{$spacing-xlarge} * 4);
	margin-bottom: calc(#{$spacing-xlarge} * 4);
	padding-bottom: calc(#{$spacing-xlarge} * 4);
	border-bottom: 1px solid rgba(0, 0, 0, .15%);
}

