// Token display:
.fonts {
	display: inline-block;
	margin-right: 1.25rem;
	line-height: 1.6;
	font-size: 1.25em;
}

.font-heading {
	font-size: 10em;
	line-height: 1;
}

.font-uppercase,
.font-lowercase,
.font-numbers {
	display: block;
}

.spacing {background-color: #ccc;}